.amarillo{
  background-color: rgb( 255, 236, 1 );
}
.rosa{
  background-color: rgb( 255, 1, 62 );
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
}

.alto{
  height: 30px;
}

div{
  display: inline-block;
  /*margin-left: 42%;*/
  padding: 4px;
}

.ancho{
  width: 160px;
}
.izquierda{
  margin-left: 32%;
}
