.amarillo{
  background-color: rgb( 255, 236, 1 );
}
.rosa{
  background-color: rgb( 255, 1, 62 );
  margin-left: 5px;
  margin-right: 5px;
  width: 160px;
}

.alto{
  height: 50px;
}

div{
  display: inline-block;
  /*margin-left: 42%;*/
  padding: 7px;
}

.ancho{
  width: 160px;
}
.izquierda{
  margin-left: 20%;
}
